<form method="post" action="{{ path('app_student_leave_delete', {'id': student_leave.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_leave.id) }}">
    <button class="btn">Delete</button>
</form>
