<form method="post" action="{{ path('app_teacher_education_delete', {'id': teacher_education.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher_education.id) }}">
    <button class="btn">Delete</button>
</form>
