{% extends 'base.html.twig' %}

{% block title %}New TeacherEducation{% endblock %}

{% block body %}
    <h1>Create new TeacherEducation</h1>

    {{ include('teacher_education/_form.html.twig') }}

    <a href="{{ path('app_teacher_education_index') }}">back to list</a>
{% endblock %}
