{% extends 'base.html.twig' %}

{% block title %}New AcademicSession{% endblock %}

{% block body %}
    <h1>Create new AcademicSession</h1>

    {{ include('academic_session/_form.html.twig') }}

    <a href="{{ path('app_academic_session_index') }}">back to list</a>
{% endblock %}
