{% extends 'base.html.twig' %}

{% block title %}New EmployeeFamily{% endblock %}

{% block body %}
    <h1>Create new EmployeeFamily</h1>

    {{ include('employee_family/_form.html.twig') }}

    <a href="{{ path('app_employee_family_index') }}">back to list</a>
{% endblock %}
