{% extends 'base.html.twig' %}

{% block title %}Edit Agreement{% endblock %}

{% block body %}
    <h1>Edit Agreement</h1>

    {{ include('agreement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_agreement_index') }}">back to list</a>

    {{ include('agreement/_delete_form.html.twig') }}
{% endblock %}
