{% extends 'base.html.twig' %}

{% block title %}Edit EmployeeEducation{% endblock %}

{% block body %}
    <h1>Edit EmployeeEducation</h1>

    {{ include('employee_education/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_employee_education_index') }}">back to list</a>

    {{ include('employee_education/_delete_form.html.twig') }}
{% endblock %}
