{% extends 'base.html.twig' %}

{% block title %}New Position{% endblock %}

{% block body %}
    <h4>Create new Position</h4>

    {{ include('position/_form.html.twig') }}

    <a href="{{ path('app_position_index') }}">back to list</a>
{% endblock %}
