{% extends 'base.html.twig' %}

{% block title %}Edit StudentPayment{% endblock %}

{% block body %}
    <h1>Edit StudentPayment</h1>

    {{ include('student_payment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_student_payment_index') }}">back to list</a>

    {{ include('student_payment/_delete_form.html.twig') }}
{% endblock %}
