{% extends 'base.html.twig' %}

{% block title %}New ExternalExperience{% endblock %}

{% block body %}
    <h1>Create new ExternalExperience</h1>

    {{ include('external_experience/_form.html.twig') }}

    <a href="{{ path('app_external_experience_index') }}">back to list</a>
{% endblock %}
