{% extends 'base.html.twig' %}

{% block title %}New FieldOfStudy{% endblock %}

{% block body %}
    <h1>Create new FieldOfStudy</h1>

    {{ include('field_of_study/_form.html.twig') }}

    <a href="{{ path('app_field_of_study_index') }}">back to list</a>
{% endblock %}
