{% extends 'base.html.twig' %}

{% block title %}Edit InternalExperience{% endblock %}

{% block body %}
    <h1>Edit InternalExperience</h1>

    {{ include('internal_experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_internal_experience_index') }}">back to list</a>

    {{ include('internal_experience/_delete_form.html.twig') }}
{% endblock %}
