{% extends 'base.html.twig' %}

{% block title %}New InternalExperience{% endblock %}

{% block body %}
    <h1>Create new InternalExperience</h1>

    {{ include('internal_experience/_form.html.twig') }}

    <a href="{{ path('app_internal_experience_index') }}">back to list</a>
{% endblock %}
