<form method="post" action="{{ path('app_subject_assignment_delete', {'id': subject_assignment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject_assignment.id) }}">
    <button class="btn btn-outline-secondary btn-sm mr-1"> <i class="fa fa-trash-alt"> </i>Delete</button>
</form>
