{% extends 'base.html.twig' %}

{% block title %}Edit ContractRange{% endblock %}

{% block body %}
    <h1>Edit ContractRange</h1>

    {{ include('contract_range/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contract_range_index') }}">back to list</a>

    {{ include('contract_range/_delete_form.html.twig') }}
{% endblock %}
