{% extends 'base.html.twig' %}

{% block title %}New ContractRange{% endblock %}

{% block body %}
    <h1>Create new ContractRange</h1>

    {{ include('contract_range/_form.html.twig') }}

    <a href="{{ path('app_contract_range_index') }}">back to list</a>
{% endblock %}
