{% extends 'base.html.twig' %}

{% block title %}New PayrollSetting{% endblock %}

{% block body %}
    <h1>Create new PayrollSetting</h1>

    {{ include('payroll_setting/_form.html.twig') }}

    <a href="{{ path('app_payroll_setting_index') }}">back to list</a>
{% endblock %}
