{% extends 'base.html.twig' %}

{% block title %}New SectionHead{% endblock %}

{% block body %}
    <h5> Assign new section head  <b>[ Academic Year: {{cyear}}] </b> </h5>

    {{ include('section_head/_form.html.twig') }}

    <a href="{{ path('app_section_head_index') }}"> Back to list</a>
{% endblock %}
