{% extends 'base.html.twig' %}

{% block title %}New Indigent{% endblock %}

{% block body %}
    <h1>Create new Indigent</h1>

    {{ include('indigent/_form.html.twig') }}

    <a href="{{ path('app_indigent_index') }}">back to list</a>
{% endblock %}
