{% extends 'base.html.twig' %}

{% block title %}New EmployeeTitle{% endblock %}

{% block body %}
    <h1>Create new EmployeeTitle</h1>

    {{ include('employee_title/_form.html.twig') }}

    <a href="{{ path('app_employee_title_index') }}">back to list</a>
{% endblock %}
