<form method="post" action="{{ path('app_salary_scale_delete', {'id': salary_scale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salary_scale.id) }}">
    <button class="btn btn-outline-secondary btn-sm"> <i class="fa fa-trash">  </i> Delete</button>
</form>
