{% extends 'base.html.twig' %}

{% block title %}New SalaryScale{% endblock %}

{% block body %}
    <h1>Create new SalaryScale</h1>

    {{ include('salary_scale/_form.html.twig') }}

    <a href="{{ path('app_salary_scale_index') }}">back to list</a>
{% endblock %}
